<section *ngIf="moves.length" class="move-list-main-con">
    <div class="move-list-con">
        <div class="move-list-title-line">
            <div class="move-list-close-btn-con">
                <div (click)="onClose()" class="move-list-close-btn"><img
                        src="https://img.icons8.com/glyph-neue/64/000000/xbox-x.png" /></div>
            </div>
            <div class="move-list-title">
                <label>Move List</label>
            </div>
        </div>
        <div>
            <div class="move-list-details">
                <div *ngFor="let move of moves" class="move-con">
                    <div class="info-img-con">
                        <img
                            src="https://res.cloudinary.com/flat-inn/image/upload/v1651569148/assets/bitBank/info_xsa5th.png" />
                    </div>
                    <label>{{move.data}}</label>
                </div>
            </div>
        </div>
    </div>
</section>