@import "../../../styles.scss";
.details-main-con {
  color: white;
  padding-top: var(--padding-top);
  background-color: var(--app-bgcolor);
  width: 100%;
  height: 100%;
}

.details-con {
  width: 100%;
  margin: 0 auto;

  .details-profile-pic {
    margin: 0 auto;
    margin-bottom: 10px;
    width: min(100%/3, 200px);
    height: auto;
    // background-color: red;
    img {
      border-radius: 100px;
    }
  }
  .details-info-col-con {
  }
  .details-field-con {
    margin-top: 30px;
    display: flex;
    // background-color: yellow;
    .field-title {
      // margin-right: 5px;
      text-align: left;
      // border-bottom: 3px solid red;
      // background-color: red;
      // width: fit-content;
      // flex: 1;
    }

    .field-value {
    }
  }
  .details-info-grid {
    margin-bottom: 50px;
  }
  .details-info-col-con:first-child {
    // background-color: red;
    margin-right: 20px;
  }
  .details-info {
    display: flex;
    flex-wrap: wrap;
    padding-right: 20px;
    padding-left: 20px;
    // background-color: red;
    // width: 100%;
    max-width: 800px;
    margin: 0 auto;
    // min-width: min-content;
    text-align: left;
    font-size: 24px;

    justify-content: space-between;
    & > div {
    }
    .field-value {
    }
  }
  .details-edit-main-con {
    // background-color: yellow;
  }
  .details-edit-con {
    border-radius: 10px;
    max-width: fit-content;

    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #009ffd;
    border: 1px solid white;
    &:hover {
      filter: brightness(110%);
    }
    & > div {
      padding: 5px;
      margin: 5px;
      display: flex;
      // background-color: yellow;
      align-items: center;
      justify-content: center;
    }
    .moves-btn {
      width: 55px;
      height: auto;
    }
    .transfer-btn {
      width: 65px;
      height: auto;
      img {
        width: 100%;
        height: 100%;
      }
    }
    // background-color: green;
    display: flex;
    justify-content: center;

    width: 100%;

    .details-edit-btn {
      display: flex;
      align-items: flex-end;
      // background-color: purple;
      width: 55px;
      height: auto;
      img {
      }
    }
  }
}

// .edit-details-btn-img {
//   width: 100%;
//   height: 100%;
// }
@media screen and (max-width: 900px) {
  .details-info {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: fit-content;
  }
}
