<header class="header-main-con">
    <div class="header-logo-con">
        <div class="header-logo-img-con btn" (click)="goHome()">
            <img src="https://res.cloudinary.com/flat-inn/image/upload/v1651569149/assets/bitBank/logo_iizdve.png" />
        </div>
    </div>
    <!-- <div class="header-spacer">space</div> -->
    <ul class="nav-con">
        <!-- <div class="nav-icon-con1">
            <img src="https://img.icons8.com/color/48/000000/home--v1.png" />
        </div> -->
        <li>
            <a routerLink="" title="home" class="nav-router-link">
                <div class="nav-icon-con">
                    <img src="https://img.icons8.com/color/48/000000/home--v1.png" />
                </div>
            </a>
        </li>
        <li>
            <a routerLink="contacts" title="contacts" class="nav-icon-con"><img
                    src="https://img.icons8.com/color/48/000000/contact-card.png" /></a>
        </li>
        <li>
            <a routerLink="stats" class="nav-icon-con" title="statistics"><img
                    src="https://img.icons8.com/color/48/000000/combo-chart--v1.png" /></a>
        </li>
        <li>
            <a routerLink="edit" class="nav-icon-con" title="add user"><img
                    src="https://img.icons8.com/fluency/48/000000/add-user-male.png" /></a>
        </li>
        <li>
            <a (click)="onBack()" class="nav-icon-con" title="back"><img
                    src="https://img.icons8.com/color/48/000000/back--v1.png" /></a>
        </li>

    </ul>
</header>