<section class="edit-main-con">

    <div class="edit-con">


        <div class="edit-title">
            <div *ngIf="isNewUser">Add New User</div>
            <div *ngIf="!isNewUser">Edit User</div>
        </div>

        <div class="edit-profile-pic">
            <img [src]="getUserPic()" />
        </div>
        <div class="edit-info-con">
            <div class="edit-field-col-con">
                <div class="edit-field-con">
                    <label class="field-title">Name:</label>
                    <input class="field-input" type="text" [(ngModel)]="contact.name" />
                </div>
                <div class="edit-field-con">
                    <label class="field-title">Phone:</label>
                    <input class="field-input" type="text" [(ngModel)]="contact.phone" />
                </div>
            </div>
            <div class="edit-field-col-con">
                <div class="edit-field-con">
                    <label class="field-title">Email:</label>
                    <input class="field-input" type="text" [(ngModel)]="contact.email" />
                </div>
                <div class="edit-field-con">
                    <label class="field-title">Coins:</label>
                    <input class="field-input" type="text" [(ngModel)]="contact.coins" />
                </div>
            </div>
        </div>
        <button class="edit-save-btn" (click)="onSave()">Save</button>
        <button (click)="onBack()">Cancel</button>
    </div>
</section>