@import "../../../styles.scss";
.edit-main-con {
  color: white;
  padding-top: var(--padding-top);
  width: 100%;
  height: 100%;
  background-color: var(--app-bgcolor);
}

.edit-con {
  * {
    padding: 5px;
  }

  .edit-title {
    font-size: 30px;
  }
  .edit-info-con {
    display: flex;
    flex-wrap: wrap;
    // background-color: purple;
    max-width: 800px;
    margin: 0 auto;

    text-align: left;
    font-size: 20px;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .edit-field-con {
    margin-top: 20px;
  }
  .edit-field-con {
    display: flex;
    align-items: center;
    // background-color: yellow;
    .field-title {
      text-align: right;
      // background-color: red;
      flex: 1;
    }
    .field-input {
      flex: 2;
      // background-color: brown;
      width: 50%;
    }
  }
  button {
    margin-top: 20px;
  }
  // background-color: green;
  // width: fit-content;
  margin: 0 auto;
  input {
    @include input-style;
  }
  button {
    @include button1-style;
  }
  .edit-save-btn {
    &:hover {
      background-color: green;
    }
  }
}
.edit-profile-pic {
  margin: 0 auto;
  margin-bottom: 10px;
  width: min(100%/3, 200px);
  height: auto;
  // background-color: red;
  img {
    border-radius: 100px;
  }
}
.details-edit-main-con {
  margin-bottom: 30px;
  padding-bottom: 20px;
}
@media screen and (max-width: 900px) {
  .edit-info-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .edit-field-col-con {
    margin: 0 auto;
  }
  .field-title {
    width: 100%;
    display: flex;
    justify-content: center;
    // background-color: red;
    width: fit-content;
  }
}
.edit-save-btn {
  margin-bottom: 20px;
}
