<section class="transfer-main-con">

    <div class="transfer-con">
        <div class="transfer-con-title">
            <label>Transfer coins to {{contactData.name}}</label>
        </div>
        <div class="transfer-con-amount">
            Amount:&nbsp;<input type="number" min="1" [max]="user.coins" [(ngModel)]="amount">
            &nbsp;&nbsp;&nbsp;
            Max:&nbsp;{{user.coins}}
            <div *ngIf="isUserAlertMsgShown" class="user-alert-msg">Alert: {{this.userAlertMsg}}</div>
            <div *ngIf="isUserAcceptMsgShown" class="user-accept-msg">{{this.userAcceptMsg}}</div>
        </div>
        <div class="transfer-con-btn">
            <button class="transfer-btn" (click)="onTransferCoins()">Transfer</button>
            <button (click)="onClose()">Cancel</button>
        </div>

    </div>
</section>